<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/posts/layout.css" type="text/css">
    <link rel="stylesheet" href="css/posts/top-bar.css" type="text/css">
    <link rel="stylesheet" href="css/posts/news-item.css" type="text/css">
    <link rel="stylesheet" href="css/posts/news-content.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <script src="js/home.js"></script>
    <div class="top-bar">
        <div class="top-bar-hamburger-container">
            <img class="top-bar-hamburger" src="menu.png" alt="menu" onclick="collapseNewsItem()">
        </div>
        <div class="top-bar-text-container">
            <div class="top-bar-text">TWT News</div>
        </div>
        <% if(user.name==="anonymous" ) { %>
            <div class="top-bar-login-button-container">
                <a class="top-bar-login-button" href="#">Login</a>
            </div>
            <% } else { %>
                <div class="top-bar-name-logged-in">
                    <%- user.name %>
                </div>
                <% } %>
    </div>
    <div class="content-container">
        <div class="content">
            <div class="news-items-container">
                <div class="news-items-control-area">
                    <div class="news-items-pagination-container">
                        <img src="chevron-left.png" alt="Prev" class="pagination-control-button" onclick="pagePrev()">
                        <form action="javascript:void(0);" onsubmit="return gotPageInput()">
                            <label for="pagination-page-input" id="pagination-page-label">Page
                                <input type="text" id="pagination-page-input" maxlength="2" value="1" onfocusout="updatePageInputValue()"> of 20
                                <input type="submit" style="display:none;">
                            </label>
                        </form>
                        <img src="chevron-right.png" alt="Next" class="pagination-control-button" onclick="pageNext()">
                    </div>
                    <a class="news-items-create-button" href="/posts/create">Create</a>
                </div>
                <div class="news-items-scroll-area">
                    <% posts.forEach(post=> { %>
                        <div class="news-item">
                            <img class="news-item-thumbnail unselectable non-draggable" src="/yoquack.jpg" alt="duck">
                            <div class="news-item-content">
                                <div class="news-item-content-text">
                                    <div class="news-item-title">
                                        <%= post.title %>
                                    </div>
                                    <div class="news-item-subtitle">
                                        <%= post.subtitle %>
                                    </div>
                                    <div class="news-item-description">
                                        <%= post.subbody %>
                                    </div>
                                </div>
                            </div>
                            <div class="news-item-view-button unselectable non-draggable"
                                 onclick="newsItemClicked(`<%= post.body %>`)">
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="news-content-container">
                <div class="news-content"></div>
            </div>
        </div>
    </div>
</body>

</html>